/* Общие стили для всей страницы */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для заголовка */
.header-container {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Стили для секции передачи показаний */
.meter-reading-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-nav-header {
    color: #2c3e50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

select, input {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Стили для истории показаний */
.meter-history-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

/* Стили для подвала */
.footer-container {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
